.launches-list-table {
  td {
    padding: 1rem;
  }

  tr {
    border-bottom: 1px solid rgba(37, 134, 188, 0.3);
  }
}

.launch-status {
  background: rgba(37, 134, 188, 0.1);
  border-radius: 4px;

  padding: 4px 8px;
  width: fit-content;
}

.launches-list-font {
  font-family: 'Nunito', serif;

  color: #2F3031;

  &__bold-font {
    font-family: 'Nunito bold', serif;

    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    &__status {
      color: #2586BC;
    }
  }

  &__normal-font {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &__light-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #828383;
  }
}
